.d-flex{
    display: flex;
}

.centering{
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.error{
    color: red;
    font-size: small;
}